body {
    background-color: #FFFFFF !important;
  }

/* Navbar */

#Container {
  color: black;
}

.navbar {
  background-color: #1E2952;
  margin-bottom: 10px;
}

/* .a.navbar-brand {
  margin-left: 20px;
} */

/* .navbar-nav {
  background-color: #1E2952;
} */

.nav-item {
  /* background-color: #1E2952; */
  margin-left: 100px;
  border-top: 50px;
  border-color: #000000;
}

.me-auto.navbar-nav.nav-item a {
  border-color: #000000;
  border-width: 5px;
}


/* nav.navbar.navbar-nav {
  background-color: #1E2952;
} */

/*navbar*/
/* .nav.nav-tabs {
  margin-bottom: 20px;
  background-color: #1E2952;
} */


/*navbar text ex: About*/
.navbar-nav li a {
  color:#000000;
  border-color: #000000;
  border-width: 1px;
}

.nav.nav-tabs li a:hover {
  color: #1E2952;
}

.nav.nav-tabs li a.nav-link.active {
  color: #1E2952;
}


/*footer*/

#foot {
  background-color: #1E2952;
  margin-top: 20px;
}

.footerbtn {
  font-size: 2.1rem;
  color: #000000;
}

.footerbtn2 {
  font-size: 2.1rem;
  color: #FFFFFF;
  margin-left: 20px;
}

.footerbtn:hover {
  color: #1E2952;
}

.footerbtn2:hover {
  color: #1E2952;
}

/* added comment in order to update repo */
